

.picture {
    height: 60px;
/* width: 100px; */
}

.picture:hover {
    cursor: pointer;
    opacity: 70%;
}

.picture:active {
    transform: scale(90%);
}


.icon {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.icon:hover {
    cursor: pointer;
    opacity: 70%;
}

.icon:active {
    transform: scale(90%);
}



