
<div class="main-link-list">
    <div class="main-link" routerLink="work"> 
        <img src="assets\work.jpg">
        <p>Tööde lehele</p>
    </div>
    <div class="main-link" routerLink="hobbies">
        <img src="assets\hobbies.jpg">
        <p>Hobide lehele</p>
    </div>
    <div class="main-link" routerLink="courses">
        <img src="assets\kool.png">
        <p>Kursuste lehele</p>
    </div>
</div>
<br>

<!-- @if laigitud === true {-->
@if (laigitud) {
<img class="ikoon" src="/like.png" alt="">
}

<!-- @if laigitud === false {-->
@if (!laigitud) {
<img class="ikoon" src="/like (1).png" alt="">
}

<button (click)="laigitud = !laigitud">Muuda like'i</button>


<br>

<div class="rectangle"></div>
<p class="main-text">Tere tulemast minu lehele</p>

