@import "ngx-toastr/toastr";

#toast-container {
  z-index: 999999 !important;
}
#toast-container.toast-middle-right {
  position: fixed !important;
  top: 50% !important;
  right: 16px !important;
  left: auto !important;
  bottom: auto !important;
  transform: translateY(-50%) !important;
  z-index: 999999 !important;
}