/* You can add global styles to this file, and also import other style files */
/* .icon {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.icon:hover {
    cursor: pointer;
    opacity: 70%;
}

.icon:active {
    transform: scale(90%);
} */