.btn-soft {
    font-family: 'Roboto', sans-serif; /* Pehmem font kui Oswald */
    font-weight: 500;
    text-transform: none; /* Ei ole suurte tähtedega, mõjub sõbralikumalt */
    font-size: 13px !important;
    background-color: #f1e9a6 !important; /* Väga hele, "pastellne" kollane */
    color: #1a1a1a !important;
    min-width: auto !important;
    border: 1px solid #8e8419; /* Veidi tumedam kollane äär selguse huvides */
    /* border-radius: 25px !important; Ümarad "pill" kujuga nupud on pehmemad */
    line-height: 1.2 !important;
    padding: 4px 12px !important;
    transition: all 0.3s ease !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05); /* Vaevaltmärgatav vari */
}

/* Efekt peale liikudes */
.btn-soft:hover {
    background-color: #FFEB3B !important; /* Muutub veidi kirkamaks kollaseks */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Vari läheb sügavamaks */
    transform: translateY(-1px); /* Tõuseb õrnalt kõrgemale */
}

/* Aktiivne olek (vajutamise hetk) */
.btn-soft:active {
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}


.product {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0;
}

.image {
    width: 30px;
    height: 30px;
}  

.title {
    width: 300px;
}

.price {
    width: 70px;
}

.quantity {
    width: 80px;
}

.total {
    width: 80px;
}
.warning {
  margin-top: 8px;
  color: #c62828;      
  font-weight: 600;
}

:host ::ng-deep .yellow-field .mdc-text-field--filled {
  background-color: #f1e9a6 !important; /* kollane */
}


:host ::ng-deep .date-field .mdc-text-field {
  height: 45px;   
  width: 160px;       /* standard ~56px, tee väiksem */
}

