<br>

<button routerLink="/product-details">Go to product details</button>
<br>


<div>Total of items: {{products.length}} tk</div>
<br>

<!-- <button (click)="reset()">Reset</button> -->

<br>
<br>


<button (click)="sortAZ()"> Sort from AZ</button>
<button (click)="sortZA()">Sort from ZA</button>

<button (click)=" sortRatingAsc()"> Sort rating increasing</button>

<button (click)=" sortRatingDes()"> Sort rating decreasing</button>

<br><br>

@for (category of categories; track $index) {
  
    <button (click)="filterCategory(category.name)">{{category.name}}</button>

}




<!-- <button (click)="filterCategory(categoryName)">Category</button> -->
<!-- <button (click)="filterCategoryWomensCl()">Women's clothing</button>
<button (click)="filterCategoryJewelery()">Jewelery</button>
<button (click)="filterCategoryElectronics()">Electronics</button> -->

<br>


  <!-- <select [(ngModel)]="category">
  <option value="">Choose category</option>
  @for(c of categories; track c.id) {
    <option [value]="c.name">{{c.name}}</option>
  }
</select>

<button (click)="filterCategory()">Filter by product category</button>

<hr> -->

<!-- <div class="product-list">
 @for(p of filteredProducts; track p.id) {
  <div style="margin-bottom: 10px;">
    {{p.title}} ({{p.price}} €) 
    <button (click)="addToCart(p)">Add to cart</button>
    <button>See details</button>
  </div>
} @empty {
  <p>No products found</p>
}
</div> -->


<!-- <button (click)="filtreeri7Tahelised()"> Filtreeri täpselt 7 tähelised</button>
<button (click)="filtreeriVahemalt6Tahelised()"> Filtreeri vähemalt 6 tähelised</button>
<button (click)="filtreeriSisaldabLyhenditER()"> Filtreeri sisaldab lühendit ER</button>
<button (click)="filtreeriLoppebTahegaI()"> Filtreeri kes lõppeb i tähega</button>
<button (click)="filtreeriTeineTahtonO()"> Filtreeri kellel teine täht on o</button> -->
<br>

<div class="products">
@for (product of products; track $index) {
    
    <div class="product" > 
        <img class="image" src="{{product.image}}" alt="">
        <div>{{product.title}}  </div>
        <div>{{product.price}} €</div> 
        <button (click)="addToCart(product)">Add to cart</button>
        <button routerLink="/product/{{product.id}}">See details</button>
    </div>
}
</div>

<br>
<div>Prices in total: {{calculateTotal()}} €</div>


<!-- "/auto/{{auto.nimi}}" -->