





<div class="locations-center">
  <h1>Oleme teie jaoks olemas järgmistes asukohtades</h1>

  <div class="locations-grid">
    <div class="location-col">
      <h2>Tallinn</h2>
      <div>Pärnu mnt 10</div>
      <div>10148 Tallinn</div>
      <div>E–R 09:00–18:00</div>
    </div>

    <div class="location-col">
      <h2>Pärnu</h2>
      <div>Rüütli 5</div>
      <div>80010 Pärnu</div>
      <div>E–R 09:00–18:00</div>
    </div>

    <div class="location-col">
      <h2>Tartu</h2>
      <div>Riia 12</div>
      <div>51010 Tartu</div>
      <div>E–R 09:00–18:00</div>
    </div>
  </div>
</div>


<div class="map-container">
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>



<div class="two-cols">
    <div class="col-left">

<div>  
    <h3>Võta meiega ühendust:</h3>
</div>

<div>
<form class="contact-form" (submit)="sendEmail($event)">
  <label>Nimi</label><br>
  <input type="text" name="from_name"><br>
  <label>Email</label><br>
  <input type="email" name="from_email"><br>
  <label>Kiri</label><br>
  <textarea name="message"></textarea><br>
 
    <label>Hinnang</label>
    <input type="range" min="1" max="5" name="rating"> <br>
<br>
 <input mat-flat-button class="btn-soft" type="submit" value="Saada">
 
</form>
</div>
    </div>
    
<div class="col-right">
<br><br><br>

<div>Et saaksime olla veel paremad, tee meile annetus:</div>
<button [class.summa-aktiivne]="summa === 5" (click)="muudaSumma(5)">5</button>
<button [class.summa-aktiivne]="summa === 10" (click)="muudaSumma(10)">10</button>
<button [class.summa-aktiivne]="summa === 15" (click)="muudaSumma(15)">15</button>

<div>Vali ise summa</div>
@if (true) {
    <input [(ngModel)]="customSumma" type = "text"> 
}

<br/>

@if (customSumma > 0 ) {
    <div>Annetuse summa {{customSumma}} €</div>
} @else {
<div>Annetuse summa {{summa}} €</div>
}


<button mat-flat-button class="btn-soft" [disabled]="kogus ===1" (click)="kogus = kogus - 1">-</button>
<span>{{kogus}}</span>
<button mat-flat-button class="btn-soft" (click)="kogus = kogus + 1">+</button>



@if (customSumma > 0) {
    <div>Annetuse summa kokku: {{customSumma * kogus}}</div>
} @else {
<div>Annetuse summa kokku: {{summa * kogus}}</div>
}

<button mat-flat-button class="btn-soft" (click)="pay()">Maksma</button>
<br><br>
</div>
</div>