

<div class="page-center">
  <div class="form-card">
    <div class="category-float">
@for (category of categories; track $index) {
  
    <button mat-flat-button class="btn-soft" (click)="filterCategory(category.name)">{{category.name}}</button>

} </div>
    </div>
</div>



 <input [(ngModel)]="searchTerm" (ngModelChange)="search()"  type="text" >
    <label>Otsi seadme nime järgi</label>
<br>
<br>


<table>
    <thead>
        <tr>
        <th>ID</th>
        <th>Kategooria</th>
        <th>Seadme nimi</th>
        <th>Hind</th>
        <th>Seadme kirjeldus</th>
        <th>Pilt</th>
        <th>Kustuta</th>
        <th>Muuda</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track $index) {
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.category}}</td>
                <td>{{product.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.image}}</td>

                <td> <button mat-flat-button class="btn-soft"  (click)="deleteProduct($index, product.id)">x</button> </td>
                <td><button mat-flat-button class="btn-soft" [routerLink]="'/halda-seadmeid/' + product.id">Muuda</button></td>
            </tr>
        }

    </tbody>

</table>
