<br>
<br>
<br>


<div class="categories">
  <button class="category-btn" (click)="showAll()">
    <span>Kõik</span>
  </button>

  @for (cat of categories; track cat.id) {
    <button class="category-btn" (click)="filterCategory(cat.name)">
      <img class="picture" [src]="cat.avatar || cat.avatar" [alt]="cat.name" />
      <span>{{ cat.name }}</span>
    </button>
  }
</div>

<div>Kokku seadmeid valitud kategoorias: {{products.length}} tk</div>
<br>

<br>
<br>
<div class="sort-buttons">

<button mat-flat-button class="btn-soft" (click)="sortAZ()"> Sorteeri AZ</button>
<button mat-flat-button class="btn-soft" (click)="sortZA()"> Sorteeri ZA</button>

<button mat-flat-button class="btn-soft" (click)=" sortPriceAsc()"> Sorteeri hind kasvavalt</button>

<button mat-flat-button class="btn-soft" (click)=" sortPriceDesc()"> Sorteeri hind kahanevalt</button>
</div>

<br><br>


<br>


<br>

<div class="products">
@for (product of products; track $index) {
    
    <div class="product"> 
        <img class="image" src="{{product.image}}" alt="">
        <div>{{product.title}}  </div>
        <div>{{product.price}} €</div> 
        <button mat-icon-button class="cart-icon-btn" (click)="addToCart(product)" aria-label="Lisa rendikorvi">
        <mat-icon [class.cart-rotate]="rotatingCartIds.has(product.id)">shopping_cart</mat-icon>
        </button>
        <button mat-icon-button class="details-icon-btn"  routerLink="/rendiseade/{{product.id}}" aria-label="Vaata detaile"><mat-icon>info</mat-icon></button>

       
    </div>
}
</div>


 