<button (click)="keel = 'et'">Eesti</button>
<button (click)='keel = "en"'>English</button>
<button (click)="keel = 'es'">Espanol</button>
<button (click)="keel = 'ru'">Pycckij</button>

<div>Lehe keel on: {{keel}}</div>

@if (keel === "et"){
    <br/>
    <div>Leht on eesti keelne</div>
}

@if (keel === "en"){
    <br/>
    <div>Page is in English</div>
}

@if (keel === "es"){
    <br/>
    <div>La pagina esta en espanol</div>
}

@if (keel === "ru"){
    <br/>
    <div>Straniza est po Russkom</div>
}

@if (keel !== "et"){
    <br/>
    <div>Other translations than Estonian are not ready yet</div>
}

<br/> <br/>

<label>Email</label> <br/>
<input [(ngModel)]="email" type="text"> <br/>
<label>Aadress</label> <br/>
<input [(ngModel)]="aadress" type="text"> <br/>
<label>Telefon</label> <br/>
<input [(ngModel)]="telefon" type="text"> <br/>
<button (click)="sisesta()">Sisesta</button>