
@if (ostukorv.length === 0) {
<div>Ostukorv on tühi</div>
} 

@else {

<button (click)="tyhjenda()">Tühjenda</button>

<div>Toodete koguarv {{ostukorv.length}} tk</div>

<div>Ostukorvi kogusumma: {{arvutaKokku()}} €</div>
}

<br>
@for(toode of ostukorv; track toode) {
   <div>{{toode.nimi}} - {{toode.hind}} € <button (click)="kustuta($index)">x</button></div>
   
}


<button (click)="country = 'EE'">Eesti</button>
<button (click)="country = 'LV'">Läti</button>
<button (click)="country = 'LT'">Leedu</button><br>

<select>
@for (paikautomaat of dataResource.value(); track $index) {

   @if (paikautomaat.A0_NAME === country ) {

   <option>{{paikautomaat.NAME}}</option>
}
}
</select>

@if (arvutaKokku() > 7000) {
   <div>Üle 7000 euro ei saa online maksega maksta, võta ostmiseks meiega ühendust!</div>

} @else {
<button (click)="pay()">Maksa</button>
}

