
<nav class="navbar">
  <div class="nav-links">
    <span>
      <img routerLink="/rendiseadmed" class="icon" src="assets/home.png" alt="" />
    </span>

    <button mat-flat-button color="primary" routerLink="rendiseadmed">Rendiseadmed</button>
    <button mat-flat-button color="primary" routerLink="lisa-seade">Lisa oma seade renti</button>
    <button mat-flat-button color="primary" routerLink="rendikorv">Rendikorv</button>
    <button mat-flat-button color="primary" routerLink="kontakt">Kontakt</button>

    @if (isLoggedIn) {
      <button mat-flat-button color="primary" routerLink="seadmete-nimekiri">Kõik seadmed</button>
      <button mat-flat-button color="primary" routerLink="halda-kategooriaid">Halda kategooriaid</button>
    }
  </div>

  <div class="nav-auth">
    <span class="cart-total">
      Rendikorvi summa: {{ cartTotal }} €
    </span>

    @if (isLoggedIn) {
      <button mat-stroked-button color="primary" (click)="logout()">Logi välja</button>
    } @else {
      <button mat-flat-button color="primary" routerLink="logisisse">Logi sisse</button>
    }
  </div>
</nav>


<router-outlet />

<footer class="footer">
  <div class="footer-columns">
    <div class="footer-col">
      <h4>Ettevõte</h4>
      <a routerLink="/kontakt">Kontakt</a>
    </div>

    <div class="footer-col">
      <h4>Info</h4>
       <a href="assets/renditingimused.pdf" target="_blank" rel="noopener">Tingimused</a>
    </div>

    <div class="footer-col">
      <h4>Kontakt</h4>
      <div>info@c2crent.ee</div>
      <div>+372 5555 5555</div>
    </div>
  </div>

  <div class="footer-bottom">
    © 2026 C2C Rent
  </div>
</footer>


