
<br>
<!-- @if laigitud === true {-->
@if (laigitud) {
<img class="ikoon" src="/like.png" alt="">
}

<!-- @if laigitud === false {-->
@if (!laigitud) {
<img class="ikoon" src="/like (1).png" alt="">
}

<button (click)="laigitud = !laigitud">Muuda like'i</button>

<br><br><br>

<div>Proovime arvutada</div>

<label> </label>
<input [(ngModel)]="number1" type="number">

<br>

<label> </label>
<input [(ngModel)]="number2" type="number">

<br>

<button (click)="summa = number1 + number2">Liida</button>

<br>
<label> </label>
<input [(ngModel)]="summa" type="number">


<!-- <br>

<label> {{summa}}</label>
<input [(ngModel)]="" type="number"> -->